.container{
    background-color:lightslategray;
    width: 550px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
     margin: 0 auto;
}

#day{
    font-size: 50px;
    color: white;
    text-align: center;
}
#year{
    font-size: 30px;
    color: white;
    text-align: center;
}


